{% extends 'base.twig' %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<center><img src="/assets/web/img/logo.png" width="120"></center>
		<h1 class="text-center">{{ app.name }}</h1>
		<p class="lead text-center">Selamat datang di ChatBot Layanan Informasi Akademik FIKOM</p>
		<p class="text-center">Silahkan klik layanan obrolan untuk memulai obrolan</p>
	</div>
</div>
{% endblock %}
